.custom-dropdown-btn {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Pointer cursor for better UX */
  }
  
